<% layout('./layout/layout') %>
    <div class="bg-zinc-300 p-10 w-full">


        <h1 class="text-2xl py-4 text-center">Hi , Admin</h1>

        <!-- <a href="/books/searching">Search a book </a>
<br>
<a href="/books/range">Search a book by rent range</a>
<br>
<a href="/books/filtersearch">Filter search</a>
<br>
<a href="/transaction/issue">Issue a Book</a>
<br>
<a href="/transaction/return">Reture a Book</a>
<br>
<a href="/transaction/book">Checking book Availability</a>
<br>
<a href="transaction/totalRentRenderPage">Book total revenus check</a>
<br>
<a href="/transaction/userRederPage">Books issue by that person</a>
<br>
<a href="/transaction/date">check date range of book</a> -->


        <div class="flex flex-col sm:flex-row justify-center item-center gap-10 my-8">
            <a href="/books/searching">
                <div
                    class="w-40 h-48 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                    <img class="w-full "
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_G3qyrI7bChwLE5OIAMCut1QpFVWGIaJpqw&s"
                        alt="search_a_book_icon">
                    <p>Search a book</p>
                </div>
            </a>

            <a href="/books/range">
                <div
                    class="w-40 h-48 flex items-center justify-center flex-col rounded-xl  p-4 bg-white hover:border-2 hover:border-black m-2">
                    <img class="w-full p-2 "
                        src="https://w7.pngwing.com/pngs/608/913/png-transparent-computer-icons-google-search-symbol-mobile-search-search-for-miscellaneous-logo-mobile-phones-thumbnail.png"
                        alt="search_a_book_icon">
                    <p>Search a book by rent range</p>
                </div>
            </a>
            <a href="/books/filtersearch">
                <div
                    class="w-40 h-48 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                    <img class="w-full "
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxw7dCQ8NGpJ46oO8aBp5Aahd2y-qMTgUNUA&s"
                        alt="search_a_book_icon">
                    <p>Filter search</p>
                </div>
            </a>
        </div>
        <div class="flex  flex-col sm:flex-row justify-center item-center gap-10 my-8">
            <a href="/transaction/issue">
            <div
                class="w-40 h-48 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                <img class="w-full px-4 "
                    src="https://www.pngitem.com/pimgs/m/378-3784071_download-s-read-literature-add-book-icon-png.png"
                    alt="search_a_book_icon">
                <p>Issue a Book</p>
            </div>
            </a>


            <a href="/transaction/return">
            <div
                class="w-40 h-48 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                <img class="w-full px-4 "
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOkjstxfhEnd1JDoWx64-HXje7uxOnnqXJ9w&s"
                    alt="search_a_book_icon">
                <p>Reture a Book</p>
            </div>
            </a>
        </div>
        <div class="flex  flex-col sm:flex-row justify-center item-center gap-10 my-8">
            <a href="/transaction/book" >
                <div
                    class="w-40 h-48 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                    <img class="w-full px-4 "
                        src="https://static.vecteezy.com/system/resources/previews/004/297/596/non_2x/education-logo-open-book-dictionary-textbook-or-notebook-with-sunrice-icon-modern-emblem-idea-concept-design-for-business-libraries-schools-universities-educational-courses-vector.jpg"
                        alt="search_a_book_icon">
                    <p>Checking book Availability</p>
                </div>
            </a>
            <a href="/transaction/totalRentRenderPage">
            <div
                class="w-40 h-48 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                <img class="w-full px-4 "
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLXEbn472igSB4I8MgMa1k9Xo_rtZCMBZpDw&s"
                    alt="search_a_book_icon">
                <p>Book total revenus check</p>
            </div>
            </a>
            <a href="/transaction/userRederPage">
            <div
                class="w-40 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                <img class="w-full px-4 "
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFJXY6k0LTxKbVymyCSuM4NhZ9XKA04sPJRQ&s"
                    alt="search_a_book_icon">
                <p>Books issue by that person</p>
            </div>
            </a>
            <a href="/transaction/date">
            <div
                class="w-40 flex items-center justify-center flex-col rounded-xl overflow-auto p-4 bg-white hover:border-2 hover:border-black m-2">
                <img class="w-full px-4 "
                    src="https://static.vecteezy.com/system/resources/previews/019/138/538/original/time-date-icon-for-your-website-design-logo-mobile-design-and-presentation-free-vector.jpg"
                    alt="search_a_book_icon">
                <p>Check date range of book</p>
            </div>
            </a>
        </div>


    </div>